.content {
  display: flex;
  justify-content: space-around;
}

html {
  font-family: inherit;
}

body {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: 100%;
  font-family: 'Rubik Mono One', sans-serif;
  background-color: lightblue;
}

.letter-list, .word-list, #gif {
  list-style: none;
  height: 470px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
}


.letter-list {
  font-size: 28px;
}

.word-list {
  width: 245px;
  font-size: 18px;
}

.word-list, #gif {
  margin-top: 28px;
}

#add-word {
  margin-top: 30px;
}

#word-search {
  margin-top: 30px
}

#gif {
  width: 472px;
}
